body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    height: 100%;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 185, 84);
    height: 75px;
}
#headliner{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    font-size: 25px;
    justify-content: center;
}
.navbuttons{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    justify-content: center;
}
.feature{
    margin-right: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color:  rgb(29, 185, 84);
    font-size: 13.5px;
}
.feature:hover{
    color: rgb(0, 145, 255);
}
#feature-btn{
    text-decoration: none;
    color: black;
}
#feature-btn:hover{
    text-decoration: none;
    color: rgb(0, 145, 255);
}
.all-btn{
    margin-right: 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color:  rgb(29, 185, 84);
    font-size: 13.5px;
    color: rgb(0, 145, 255);
}
.all-btn:hover{
     color: black;
}
.newplaylist-btn{
    margin-right: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color:  rgb(29, 185, 84);
    font-size: 13.5px;
}
.newplaylist-btn:hover{
    color: rgb(0, 145, 255);
    cursor: pointer;
}
.search-bar{
    background-color: rgb(29, 185, 84);
    border: none;
    color: black;
}
.search-bar:active{
    border: rgb(29, 185, 84);
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    width: 100%;
    gap: 50px;
    background-color: black;
}
.play{
    position: relative;
    margin: 20px;
    display: flex;
    height: 450px;
    width: 250px;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    border: solid rgb(29, 185, 84);
    border-radius: 25px;
    cursor: pointer;
    /* overflow: hidden; */
}
.del-button{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 18px;
    cursor: pointer;
    color: rgb(29, 185, 84);
    z-index: 1;
    background-color: transparent;
    border: none;
}
.del-button:hover{
    color: rgb(229, 28, 28);
}
#playlist-modal .del-button{
    display: none;
}
.playlist-info{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #f8f8f8;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-color: solid rgb(29, 185, 84);
    border-top: none;

}
.playlist-info:hover{
    border-radius: 25px;
    border-color: solid rgb(29, 185, 84);
}
.play:hover{
    border-color: rgb(29, 185, 84);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: box-shadow 0.15s;
}
.heart-button{
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(29, 185, 84);
    
}

.fa-regular.fa-heart:hover{
    background-color: rgb(29, 185, 84);
}
.fa-regular.fa-heart:active{
    background-color: black;
    transition: background-color 2.00s;
}
.fa-solid{
     color: black;
}
.playlistpreview{
    width : 100%;
    height: 280px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: none;
}
footer{
    display: flex;
    background-color: rgb(29, 185, 84);
    height: 36px;
}

.modal {
   display: none; 
   position: fixed; 
   z-index: 2; 
   left: 0;
   top: 0;
   width: 100%; 
   height: 100%; 
   overflow: auto; 
   background-color: rgba(140, 135, 135, 0.4); 
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   
}
.modal-content {
   background-color: black;
   margin: 20% auto; 
   color: #f8f8f8;
   padding: 20px;
   border: 1px solid #888;
   position: relative;
   height: 90%;
   width: 80%; 
   border-radius: 10px;
   overflow: scroll;
}
#spacing{
    padding: 23px;
}
.modal-header{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: space-between; 
    align-items: start;
}
#playlist-image{
    border-radius: 10px;
    object-fit: cover;
    width: 15%;
    height: 10%;
}
#titles{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
}
#playlist-title{
    margin: 0px;
}
#creator-name{
    text-align: center;
    margin: 0px;
}
#shuffle-btn{
    margin-top: 30px;
    width: 10%;
    height: 0%;
    margin-bottom: 30px;
}
#shuffle{
    padding: 8px 16px;
    background-color: rgb(29, 185, 84);
    color: black;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
    border: none;
    text-align: center;
}
#shuffle:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: black;
    color: rgb(29, 185, 84);
    border-color: solid rgb(29, 185, 84);
}
#info-box{
    object-fit: cover;
}
.song-list{
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    flex-wrap: wrap;
    border-style: solid;
    border-color: #888;
    border-right: none;
    border-left: none;
}
#song-info{
    display: flex;
    align-items: center;
    gap: 15px;
}
#song-img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}
#song-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 0px;
    width: 30%;
    height: 0%;
}
#song-details p{
    margin: 2px;
}
#song-name{
    margin: 0;
    font-weight: bold;
}
.artist-name{
    margin: 3px 0 0;
}
#creatorName{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
} */
#song-duration{
    margin-bottom: 10px;
}    
.close {
   color: #888;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
.close:hover,
.close:focus {
   color: rgb(29, 185, 84);
   text-decoration: none;
   cursor: pointer;
}

